@charset "UTF-8";
/* CSS Document */

/* GENERAL */

html {
	height:100%;
}

body {
	color:#333333;
	height:100%;
	font-family: 'Lato', sans-serif;
	font-weight:400;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background:#F8F8F8;
}

.container {
  max-width: none !important;
  width: 100%;
}

.clear {
	clear:both;
}

.row .row {
	margin:0;
}

.modal.fade .modal-dialog {
	-webkit-transform:none;
	-ms-transform:none;
	transform: none;
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
margin-right: 0px;
}

.dropdown {
	float:left;
}

.dropdown-menu {
	padding:0;
	border-radius:0;
}

.dropdown-menu>li>a  {
	padding:8px 20px;
}

.dropdown-menu .divider {
	margin:0;
}

.dropdown .caret {
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -2px;
	border-top: 0px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #FFF;
	border-left: 5px solid transparent;
}

.btn:focus {
	outline:none;
	outline-offset: 0;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color:transparent;
	border-color:transparent;
}

.left {
	float:left;
}

.right {
	float:right;
}

.btn {
	color:#FFF;
	padding: 8px 12px;
}

ul {
	margin:0;
	padding:0;
}

ul li {
	list-style-type:none;
}

/* HEADER */

#header {
	background:#354051;
}

.main-logo {
	background:#3E4C61;
	text-align:center;
}

.main-logo h1 {
	margin:0;
	line-height:0;
	padding:16px 0;
}

.main-bar {
	padding-top: 10px;
}

.main-bar .btn:focus, .main-bar .btn:hover {
	color:#FFF;
}

.add-new .btn {
	background-color:#E55754;
	background-image:url(images/add-new-plus.png);
	background-repeat:no-repeat;
	background-position: 37px center;
	width: 197px;
	font-weight: 800;
}

.add-new .btn span {
	border-left: 1px solid #354051;
	background: url(images/btn-arrow.png) no-repeat center;
	width: 39px;
	height: 38px;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}

.add-new.open > .btn {
	border-radius:4px 4px 0 0;
}

.add-new .dropdown-menu {
	min-width: 199px;
	margin-top: 2px;
	margin-left: -1px;
}

.add-new .dropdown-menu li:first-child {
	border-top:none;
}

.btn.team-builder {
	margin-left: 10px;
	width:168px;
	background:url(images/team-buider-icon.png) #2CABCE 10px center no-repeat;
	text-indent: 18px;
	font-weight: 800;
}

.user-profile .btn {
	background: url(images/btn-arrow.png) no-repeat right center;
	padding-right: 22px;
	margin-right: 20px;
}

.notifications a.notification-btn {
	background:url(images/notification-icon.png);
	width:18px;
	height:19px;
	display:block;
	margin: 10px 10px 10px 0; 
}

.notifications a:focus, .messages a:focus {
	opacity:0.6;
}

.notifications .dropdown-menu {
	margin-left: -101px;
}

.notifications .dropdown-menu a {
	width:210px;
	padding:8px 10px;
	font-size: 12px;
	white-space:normal;
}

.notifications .dropdown-menu a img {
	float:left;
	margin-right:5px;
	padding-bottom:20px;
}

.notifications .dropdown-menu a .name {
	float:left;
	margin-right:5px;
	color:#2CABCE;
}

.notifications .dropdown-menu a .notification {

}

.notifications .dropdown-menu a .date-update {
	float:none;
	font-size:12px;
	padding-left:28px;
}

/*.notifications .dropdown-menu li.view-all-messages a {
	background:#667A96;
	text-align:center;
	font-weight: 800;
	color: #FFF;
}*/

.messages a {
	background:url(images/message-icon.png);
	width:19px;
	height:14px;
	display:block;
	margin:12px 10px;
}

.calendar a {
	background:url(images/calendar-icon.png);
	width:19px;
	height:19px;
	display:block;
	margin:9px 10px;
}

.upgrade-plan .btn {
	background:#667A96;
	width:197px;
	margin-left:10px;
}

/* Sisebar */

.sidebar {
	background:#F3F3F3;
	border-right: 1px solid #CCC;
	padding-left: 0;
}

.search-form {
	padding: 12px 0px 12px 15px;
}

.search-form input {
	background:url(images/search-icon.png) #FFF 10px center no-repeat;
	text-indent:20px;
	font-size: 13px;
}

.row.company-wrapper {
	margin-left:-15px;
	margin-right:-15px;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
}

.company {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.company:hover {
	background:#D4D4D4;
}

.company a {
	padding-left: 15px;
	width: 100%;
	display: block;
	background:url(images/pencil-icon.png) no-repeat right center;
	font-weight:bold;
	color:#535353;
	padding: 10px 0 10px 15px;
	font-size: 13px;
	text-transform:uppercase;
}

.company a:hover {
	text-decoration:none;
}

.row.workspace-wrapper {
	height:100%;
	overflow-y:scroll;
	margin-right: -15px;
	padding-top:20px;
}

.team-wrapper {
	margin-bottom:20px;
}

.team-name {
	text-transform:uppercase;
	color:#2CABCE;
	font-weight:bold;
	font-size: 13px;
}

.team-name a {
	padding-left:15px;
}

.team-content {
	margin-top:10px;
}

.team-people {
	margin-bottom:10px;
	height: 23px;
	padding-left: 15px;
}

.team-people a {
	float:left;
	margin-right:1px;
	margin-bottom: 1px;
}

.team-people a img {
	border-radius: 3px;
}

.team-people a.add-user {
	display: block;
	width: 23px;
	height: 22px;
	text-align: center;
	background:url(images/btn-plus.png) no-repeat center #FFF;
	border: 1px solid #CCCCCC;
	margin-right:0;
	border-radius: 3px;
}

.team-content .add-project {
	font-weight:bold;
	text-transform:uppercase;
	color:#999999;
	background:url(images/btn-plus.png) no-repeat right center;
	padding-right:15px;
	font-size: 13px;
	padding-left: 15px;
}

.team-content .add-project:hover {
	text-decoration:none;
}

.projects-team li {
	padding-top:5px;
	position:relative;
}

.projects-team li a {
	color:#333333;
	font-size:12px;
	display: block;
	padding: 4px 0 4px 15px;
}

.projects-team li:hover > a{
	text-decoration:none;
	background:#E0E0E0;
	color:#666;
}

.projects-team li .dropdown {
	position:absolute;
	right:0;
	top:0;
	width:100%;
}

.projects-team li .dropdown a.options-arrow {
	right: 12px;
	position: absolute;
	z-index:100;
	padding:0px;
	top:7px;
	background:url(images/arrow-options.png) #EEE no-repeat center;
	width:21px;
	height:20px;
	border:1px solid #CCC;
	border-radius: 3px;
	opacity:0;
}

.projects-team li:hover .dropdown a.options-arrow, .projects-team li .dropdown.open a.options-arrow {
	opacity:1!important;
}

.projects-team li .dropdown-menu {
	right: 0;
	left: inherit;
	top: 28px;
	min-width:115px;
}

.projects-team li .dropdown-menu li {
	padding-top:0;
}

.projects-team li .dropdown a.options-arrow:hover, .projects-team li .dropdown.open a.options-arrow {
	background:url(images/arrow-options.png) #FFF no-repeat center;
}

.workspace-wrapper::-webkit-scrollbar, .teams-updates::-webkit-scrollbar {
    width: 8px;
}

.workspace-wrapper::-webkit-scrollbar-track, .teams-updates::-webkit-scrollbar-track {
	background:#CCCCCC;
}

.workspace-wrapper::-webkit-scrollbar-thumb, .teams-updates::-webkit-scrollbar-thumb {
    background: #999999; 
	cursor: pointer;
}

.workspace-wrapper::-webkit-scrollbar-thumb:window-inactive, .teams-updates::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

/* Content */

.app-content {
	padding-right:0;
}

/* Projects States */

.all-projects-states {
	color: #666;
	font-size: 14px;
	margin-top: 6px;
	background:url(images/btn-arrow-dark.png) no-repeat left center;
	padding-left:15px;
}

.project-state {
	width: 19.2%;
	float: left;
	border-radius: 4px;
	background: #CCC;
	height: 94px;
	color: #FFF;
	box-sizing: border-box;
	padding: 15px;
	margin-right:1%;
}

.project-state.last {
	margin-right:0;
}

.project-state .name {
	font-size: 19px;
	width: 50%;
	font-weight: lighter;
	line-height: 130%;
}

.project-state .percentage {
	font-size: 48px;
	width: 50%;
	line-height: 100%;
	font-weight: lighter;
	text-align: right;
	margin-bottom: 10px;
}

.progress {
	clear:both;
	height:5px;
	margin-bottom: 0;
}

.progress-bar {
	background-color:#999999;
}

#other-projects-states {
	width: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	max-height:0;
	overflow: hidden;
}

#other-projects-states.visible {
	max-height:25em;
}

.color-1 {
	background:#EC6F67;
}

.color-2 {
	background:#4CC5CD;
}

.color-3 {
	background:#A8C77B;
}

.color-4 {
	background:#C8ABDB;
}

.color-5 {
	background:#93C4E4;
}

/* Module */

.module {
	padding-top:14px;
	padding-left:0;
	padding-right:15px;
}

.module:first-child {
	
}

.module .title {
	font-size:21px;
	color:#666666;
	margin-bottom:10px;
}

.module.states .title {
	border-bottom:1px solid #CCCCCC;
}

.module.states .clearfix:first-child {
	margin:15px 0 0;
}

.module.states .clearfix {
	margin:15px 0;
}

.module .dropdown {
	float:right;
}

.filter .btn {
	background: url(images/filter-icon.png) no-repeat center #666;
	height:30px;
	width:30px;
	margin-right: 5px;
}

.options .btn {
	background: url(images/btn-arrow.png) no-repeat center #666;
	height:30px;
	width:30px;
}

/* Tasks */

#tasks {
	border:1px solid #CCC;
	background:#FFF;
	margin-bottom:10px;
	width:100%;
	color:#333333;
	float: left;
}

#tasks .task:first-child {
	border-top:none;
}

.task {
	width:100%;
	border-top: 1px solid #ddd;
	float:left;
}

.task div {
	float:left;
	padding-top: 7px;
}

#tasks .task:first-child .task-number {
	height: 36px;
}

.task-number {
	width: 24px;
	background: #EDEDED;
	height: 35px;
	text-align: center;
}

.task-state {
	width: 30px;
	text-align:center;
}

.task-title {
	width:310px;
}

.task-title span {
	float:left;
}

a.view-subtask {
	background:url(images/icon-subtask.png) #EEE no-repeat center;
	width: 20px;
	height: 20px;
	border: 1px solid #CCC;
	border-radius: 3px;
	float:left;
	margin-left: 8px;
}

a.view-subtask:hover {
	background:url(images/icon-subtask.png) #FFF no-repeat center;
}

.task-project .label {
	padding:0;
	background:none;
}

.task-project a {
	color: #455264;
	width: 100%;
	padding: .2em .6em .3em;
	display: -wap-marquee;
	border-radius: .25em;
}

.task-project a:hover {
	text-decoration:none;
}

.task-due-date {
	width: 50px;
	text-align:center;
	float:right!important;
}

.task-project {
	max-width:125px;
	text-align:right;
	float:right!important;
}

.view-task {
	width:25px;
	float:right!important;
}

.view-task .view-task-btn {
	float:left;
}

a.view-task-btn {
	display: block;
	height: 20px;
	width: 19px;
	text-align: center;
	background: url(images/btn-plus.png) no-repeat center #FFF;
	border: 1px solid #CCC;	
	border-radius: 3px;
}

a.remove-task-btn {
	float:right;
	background:url(images/remove-icon.png) no-repeat;
	width:8px;
	height:8px;
	margin-top:6px;
	margin-right:10px;
}

.add-new-task-btn {
	text-align:center;
	width:100%;
}

.add-new-task {
	color:#999999;
	opacity:0.5;
	font-weight:bold;
	background:url(images/btn-plus.png) no-repeat right center;
	padding:0 20px;
	font-size:12px;
}

.add-new-task:hover {
	opacity:1;
	text-decoration:none;
	color:#999;
}

/* TASK STATES */ 

.task.completed {
	background:#D4D4D4;
}

.task.completed .task-number {
	background:#D9D9D9;
}

.task.completed {
	color:#888888!important;
}

.task.completed .task-project a, .task.completed .view-task-btn {
	opacity:0.6;
}

.remove-task-btn {
	display:none;
}

#tasks .task:hover .view-task {
	width:44px!important;
}

#tasks .task:hover .view-task .remove-task-btn {
	display:block;
}

#tasks .task:hover {
	background:#EFEFEF;
}

.task.has-subtask.active {
	background: url(images/bg-line-updates.jpg) repeat-y 38px center;
}

#tasks .task.has-subtask.active:hover {
	background: url(images/bg-line-updates.jpg) #EFEFEF repeat-y 38px center;
}

.task .subtask-wrapper {
	width: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	max-height:0;
	overflow: hidden;
	padding-top: 0;
}

.task .subtask-wrapper.visible {
	max-height:15em;
}

.subtask {
	width:100%;
	padding-top: 0!important;
	clear:both;
	padding-bottom: 7px;
}

.subtask .task-state {
	margin-left: 38px;
	padding-left: 10px;
	width: 40px;
	background:url(images/subtask-line.jpg) left 18px no-repeat;
}

/* Modal TASK */

#modal-task .modal-dialog {
	width:70%;
}

#modal-task .modal-body {
	padding:20px 0;
}

#modal-task .teams-update-wrapper {
	border-left:1px solid #CCC;
}

#modal-task .teams-update-wrapper .update-body {
	width: 89%
}

#modal-task .teams-update-wrapper .teams-update {
	padding-bottom:0;
}

#modal-task .teams-update-wrapper .task-update {
	margin-bottom:0;
	border-bottom:none;
}

/* Teams Updates */

.teams-updates {
	border: 1px solid #CCC;
	background: #FFF;
	padding: 15px 0;
	height:403px;
	overflow-y: scroll;
}

.task-update {
	margin-bottom:10px;
	float:left;
	border-bottom: 1px solid #CCC;
}

.task-update-header{
	padding:0px 15px;
}

.task-update-title {
	font-weight:bold;
	margin-bottom:10px;
}

.project-name-update {
	margin-right:5px;
	margin-top:-1px;
}

.project-name-update a {
	color:#FFF;
}

.update-notification {
	clear:both;
	float: left;
	background:url(images/bg-line-updates.jpg) repeat-y 25px center;
	padding:0px 15px;
}

.update-body {
	width: 94%;
	font-size: 13px;
	padding-bottom: 10px;
}

.update-content {
	padding-bottom: 15px
}

.update-content p {
	margin-bottom:0;
}

.date-update {
	font-size:13px;
	color:#87878A;
	float: left;
}

.like-update {
	margin-left: 3px;
	margin-top:4px;
	float:left;
}

.like-update a {
	background:url(images/like-btn.png);
	display:block;
	height:12px;
	width:12px;
}

.follow-task a {
	color:#333;
}

/* FOOTER  */

#footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:55px;
  background:#425067;
  color:#FFF;
}

#footer span {
	float:left;
}

#footer .shortcodes {
	padding-top:17px;
	padding-left: 15px;
}

#footer ul {
	float:left;
	margin-left:15px;
}

#footer ul li {
	color:#FFF;
	display: inline;
	font-size: 12px;
	padding-right: 10px;
}

#footer .shortcodes ul li a {
	font-weight:bold;
	color:#FFF;
}

.nav-footer {
	margin-right:15px;
	margin-top:17px;
}

.nav-footer a {
	color:#FFF;
}

/* MODAL  */

.modal-dialog {
	height:100%;
	width:540px;
}

.modal-content {
	top: 20%;
}

.modal-header {
	background:#354051;
}

.modal-title {
	color:#FFF;
}

.modal-content .btn-default {
	background:#A8C77B;
	color:#FFF;
}
