@charset "UTF-8";
/* CSS Document */

/*TABLET PORTRAIT */
@media handheld, only screen and (min-width: 768px) and (max-width: 1006px) { 

/* GENERAL */

#logo {
	margin: 0 10px 0 0;
}

.row .row {
	margin:0;
}

.main-bar .col-md-6 {
	min-height:0;
}

/* HEADER */

.main-bar nav a {
	width:100%!important;
	padding: 0 27px!important;
	background: url(img/border-nav.jpg) left no-repeat!important;
}

.main-bar nav li:first-child a {
	border-right:none!important;
}
.main-bar nav a.stores-bt span {
	background-position: left center!important;
}

.main-bar nav a.special-bt span {
	background-position: left center!important;
}

.main-bar {
	top:0;
}

.main-bar nav {
	padding-right:0;
}

.navbar-collapse {
	width:100%;
	border-top:none;
	overflow-y:hidden;
	box-shadow:none;
}

.navbar-header {
	position: absolute;
	top: -1px;
	right: 0;
}

.navbar-header {
	padding-right: 0;
	padding-left: 0;
}

.navbar-collapse .navbar-nav {
	background:none;
}

.navbar-collapse .main-bar nav a {
	width:auto!important;
}

.navbar-toggle:hover, .navbar-toggle.collapsed:hover {
	background:#FF8500;
}

.navbar-toggle:hover, .navbar-toggle:focus {
background-color: #333;
}

.navbar-toggle.collapsed {
	background-color:#333;
}

.navbar-toggle {
	background:#FF8500;
	border-radius:0 0 0 0;
}

.navbar-toggle {
	border:none;
	padding: 20px 16px;
	margin:0;
}

.navbar-toggle .icon-bar {
	background-color:#FFF;
	height:4px;
}

.main-bar nav {
	float:none;
}

.nav.categories-nav-mobile {
	margin:0 -15px;
	background: #E8E8E8;
}

.nav.categories-nav-mobile a {
	color:#333333;
	border-top:5px solid;
}

.nav.categories-nav-mobile a span {
	margin-top:-7px;
}

.nav.categories-nav-mobile .category-1 a {
	border-color: #DEDA74;
	border-right:1px solid #CCCCCC;
}

.nav.categories-nav-mobile .category-2 a {
	border-color: #A5B351;
}

.nav.categories-nav-mobile .category-3 a {
	border-color: #C26082;
	border-right:1px solid #CCCCCC;
}

.nav.categories-nav-mobile .category-4 a {
	border-color: #58C4C4;
}

.nav.categories-nav-mobile .category-5 a {
	border-color: #C598E1;
	border-right:1px solid #CCCCCC;
}

.nav.categories-nav-mobile .category-6 a {
	border-color: #85B9CF;
}

.categories-bar-wrapper {
	height:515px;
	top: 60px;
}

.categories-bar {
	top:-515px;
}

.categories-bar .first-tablet {
	padding-left: 15px;
}

.categories-bar .last-tablet {
	padding-right: 15px;
}


.main-bar .logo-wrapper {
	width:30%;
}

.main-bar .nav-wrapper {
	width:auto;
	float:right;
	padding-right:0;
}

/* SEARCH */

.search div {
	width: 720px;
}

.search form #search-field {
	width:455px!important;
}

.search form #search-button {
	width:170px;
}

.top-searches {
	width:780px;
}

/* STORES */

.top-searches {
	width:100%;
}

.top-searches a {
	padding-right:7px;
}

/* DEALS BY CATEGORIES */

.social-wrapper {
	padding:0;
	border-left:1px solid #CCC;
	height:auto;
}

.social-wrapper br {
	display:none;
}

.social-wrapper .google-plus, .social-wrapper .facebook-like {
	text-align:center;
	margin-bottom: 10px;
}

.social-wrapper .google-plus a, .social-wrapper .facebook-like a {
	width:auto;
	padding-right: 10px;
	float:none;
}

#my-tab-content .tab-pane .popular-deals .col-md-12 {
	padding:0 15px!important;
}

/* SUSCRIPTION */

.suscription-wrapper {
	background:#D4E175;
	min-height:140px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
}

.suscription-wrapper .title {
	margin-top:10px;
	margin-bottom:20px;
	display:compact;
	padding:0px;
}

.suscription-wrapper .title span {
	clear:none;
	margin-top: 0px;
	display:compact;
}

.suscription-wrapper form {
	padding:0;
}

.suscription-wrapper form .col-md-6 span {
	padding: 11px 14px 0 14px;
	float: right;
	font-size: 16px;
}

form .email-suscription {
	height:45px;
	width: 86%;
	float: left;
}

/* BIGGEST DISCOUNTS */

biggest-discounts-wrapper {
	col-ms-12
}

.biggest-discounts-wrapper  .col-sm-12 {
	padding:0;
}

.wrapper-mobile .col-md-3, .wrapper-mobile .col-md-9 {
	padding-right:0px;

}

.wrapper-mobile {
	padding-left:15px;
}

.biggest-discounts-wrapper .products-wrapper .col-md-6 {
	min-width:50%;
}

/* LATEST DEALS */

.latest-deals .list-group {
	text-align:left;
}

/* FOOTER STORES */

.list-stores {
	width:25%;
}

/* FOOTER */

.footer-main-bar .download {
	font-size:12px;
}

.footer-nav li {
	width:100px;
}

#email-suscription-footer {
	font-size:12px;
}

.footer-main-bar .iphone-bt-footer {
	margin: 6px 10px 0 10px;
}

}

@media handheld, only screen and (min-width: 992px) and (max-width: 1006px) { 

.social-wrapper {
	width:100%;
}

.suscription-wrapper {
	background: #D4E175 url(img/bg-suscription.jpg) top no-repeat;
}

form .email-suscription { 
	width:100%;
}

.suscription-wrapper .title {
	padding: 10px 30px 0 30px;
	margin-bottom: 0px;
}

.suscription-wrapper .title span {
	margin-top: 10px;
	display: block;
}

.suscription-wrapper form span {
	font-size: 15px;
	padding: 2px 0;
}

form .send-email {
	right: 35px;
	top: 5px;
}

.submit-facebook img {
	max-width:83%;
}

.popular-deals .popular-content .price {
	font-size: 20px;
	text-align: right;
}	

.col-md-8.col-sm-12 {
	width:100%!important;
}

.popular-deals span.store {
	position: static;
	bottom: auto;
	font-size: 13px;
}

.special-day .title-wrapper .title {
	text-align:right;
}

.special-day .title-wrapper br {
	display: block!important;
}

.list-stores.right {
	display:none!important;
}

}

